<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>adhd-awareness</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AltIcon-adhd-awareness</string>
			</dict>
			<key>audhd-awareness</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AltIcon-audhd-awareness</string>
			</dict>
			<key>autism-awareness</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AltIcon-autism-awareness</string>
			</dict>
			<key>bisexual-pride</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AltIcon-bisexual-pride</string>
			</dict>
			<key>blueberry-blast</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AltIcon-blueberry-blast</string>
			</dict>
			<key>dark</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AltIcon-dark</string>
			</dict>
			<key>disability-pride</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AltIcon-disability-pride</string>
			</dict>
			<key>double-chocolate</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AltIcon-double-chocolate</string>
			</dict>
			<key>equality</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AltIcon-equality</string>
			</dict>
			<key>fix-the-world</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AltIcon-fix-the-world</string>
			</dict>
			<key>galaxy-space</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AltIcon-galaxy-space</string>
			</dict>
			<key>happy</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AltIcon-happy</string>
			</dict>
			<key>holiday-frost</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AltIcon-holiday-frost</string>
			</dict>
			<key>lemon-zest</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AltIcon-lemon-zest</string>
			</dict>
			<key>lesbian-pride</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AltIcon-lesbian-pride</string>
			</dict>
			<key>mental-health-pride</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AltIcon-mental-health-pride</string>
			</dict>
			<key>mint-matcha</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AltIcon-mint-matcha</string>
			</dict>
			<key>neon-cyber</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AltIcon-neon-cyber</string>
			</dict>
			<key>nonbinary-pride</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AltIcon-nonbinary-pride</string>
			</dict>
			<key>pro-diamond-ice</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AltIcon-pro-diamond-ice</string>
			</dict>
			<key>pro-gold-vip</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AltIcon-pro-gold-vip</string>
			</dict>
			<key>pro-holographic</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AltIcon-pro-holographic</string>
			</dict>
			<key>progress-pride</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AltIcon-progress-pride</string>
			</dict>
			<key>pumpkin-spice</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AltIcon-pumpkin-spice</string>
			</dict>
			<key>rainbow-pride</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AltIcon-rainbow-pride</string>
			</dict>
			<key>retro</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AltIcon-retro</string>
			</dict>
			<key>spooky-halloween</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AltIcon-spooky-halloween</string>
			</dict>
			<key>strawberry</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AltIcon-strawberry</string>
			</dict>
			<key>summer-beach</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AltIcon-summer-beach</string>
			</dict>
			<key>transgender-pride</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AltIcon-transgender-pride</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
</dict>
</plist>
